body{
    background-color:  #0149016a;
}

.btn:hover {
    background-color: darkgreen !important;
    color:aliceblue;
    transform: scale(1.05);
}

@media (max-width: 600px) {
    .shop-heading {
        font-size: 20px;
    }
}

/* UPDATE 2: Fix navbar width */
.nav-box {
    width: 100% !important;
}

/* UPDATE 1: Payment box responsive */
.payment-box {
    width: 90%;
    max-width: 500px;
}

/* Payment option images responsive */
.payment-options img {
    width: 80px;
}

@media (max-width: 480px) {
    .payment-options img {
        width: 60px; 
    }
}

img{
    border: black 40px;
    width: 100%;
    height:70px;
    background-color: #0149016a;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 200px;  
}

.pay{
    display: block;
    text-align: center;
    width: 70%;
    margin: 20px auto;
    padding: 15px 5px;
    border-radius: 7px;
    background-color: rgb(35, 35, 201);
    color: white;
    transition: 0.3 ease;
}

.pay:hover{
    background-color: blue;
    transform: scale(1.05);
}
